#designerInfo {
    width: 1000px;
    margin: 50px auto;
}

#designerImg {
    height: 300px;
    margin: 0 auto;
}

#infoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#designerTextInfo {
    width: 400px;
    margin: 0 auto;
    padding: 50px 30px;
    background-color: #f1f1f1;
    border-radius: 20px;
}


/*----------------스타일----------------*/
#designerStyle {
    width: 900px;
    margin: 50px auto;
}

.styleGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.styleImg {
    width: 80%;
    height: 80%;
    margin: 0 20px;
}

/*----------------리뷰, 별점----------------*/
#designerReview {
    width: 900px;
    margin: 50px auto;
}

#reviewList {
    width: 900px;
    margin: 0 auto;
}

.review {
    background-color: #f1f1f1;
    padding: 30px 50px;
    border-radius: 10px;
    margin: 10px auto;
}

.starRate {
    display: inline-block;
    direction: rtl;
    border:0;
}
.starRate legend {
    text-align: right;
}
.starRate input[type=radio] {
    display: none;
}
.starRate label {
    font-size: 1em;
    color: transparent;
    text-shadow: 0 0 0 #e0e0e0;
}
.starRate input[type=radio]:checked ~ label {
    color: black;
}

.menuName {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.content {
    padding: 20px 0;
}

.userName {
    margin-right: 10px;
}