h3 {
    margin-top: 50px;
    text-align: center;
}

#shopList {
    width: 80%;
    margin: 50px auto;
}

/* 그리드 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
    gap: 10px; /* 간격 조절 */
}
.shop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.shopImg {
    display: block;
    margin: 0 40px;
    width: 400px;
    height: 350px;
    border-radius: 20px;
}

.avgStarRate{
    display: inline-block;
    direction: rtl;
    border:0;
    margin: 5px 40px;
}
.avgStarRate legend {
    text-align: right;
}
.avgStarRate input[type=radio]{
    display: none;
}
.avgStarRate label{
    font-size: 1.2em;
    color: transparent;
    text-shadow: 0 0 0 #e0e0e0;
}
.avgStarRate input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.shopName {
    font-size: 1.3em;
    margin: 0 0 0 40px;
}

.shopAddress {
    color: #545454;
    margin: 0 0 0 40px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    background-color: #797979;
    color: #fff;
}