#styleInfo {
    width: 1200px;
    margin: 50px auto;
}

#styleImg, #category, #designer {
    width: 800px;
    margin: 0 200px;
}

h3 {
    display: inline-block;
}

.designerImg {
    width: 100px;
    height: 100px;
}

#reservationForm {
    margin-left: 500px;
}

.reservationBtn {
    background-color: #797979;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}