<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bodyHeader">
    <nav id="nav3">
        <form id="categoryForm" th:action="${'/shop/list'}" method="GET">
            <input type="hidden" id="categoryNameInput" name="categoryName">
        </form>

        <ul class="navbar">
            <li class="navbar-menu"><a href="#" onclick="categorySubmit('헤어샵')">헤어샵</a></li>
            <li class="navbar-menu"><a href="#" onclick="categorySubmit('네일샵')">네일샵</a></li>
            <li class="navbar-menu"><a href="#"onclick="categorySubmit('1인샵')">1인샵</a></li>
            <li class="navbar-menu"><a href="#"onclick="categorySubmit('바버샵')">바버샵</a></li>
            <li class="navbar-menu"><a th:href="${'/shopList/rate'}">별점높은샵</a></li>
            <li class="navbar-menu"><a href="#">스타일TIP</a></li>
        </ul>
        <div>
            <a th:href="${session.userId == null ? '/login/loginForm' : '/logout'}">
                <span th:text="${session.userId == null ? '로그인' : '로그아웃'}"></span>
            </a>
        </div>
    </nav>
</div>