<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="bodyHeader">
    <link href="/css/bodyHeader.css" rel="stylesheet">
</head>
<body>
<nav id="nav3">
    <ul class="navbar">
        <li class="navbar-menu"><a href="#">헤어샵</a></li>
        <li class="navbar-menu"><a href="#">네일샵</a></li>
        <li class="navbar-menu"><a href="#">1인샵</a></li>
        <li class="navbar-menu"><a href="#">바버샵</a></li>
        <li class="navbar-menu"><a href="#">별점높은샵</a></li>
        <li class="navbar-menu"><a href="#">스타일TIP</a></li>
    </ul>
    <div th:if="${userId == null}"><a href="/login/loginForm">로그인</a></div>
    <div th:if="${userId != null}"><a href="/login/loginForm">로그아웃</a></div>
</nav>
</body>
</html>