<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <button id="bttn">&#9776;</button>
    <nav id="nav">
        <ul>
            <li class="active home"><a th:href="${'/'}">홈</a></li>
            <li class="active around"><a th:href="${'/myAround'}">내 주변</a></li>
            <li class="active stylebook"><a th:href="${'/styleBook'}">스타일북</a></li>
            <li class="active reservation"><a th:href="${'/reservation/list'}">예약</a></li>
            <li class="active my"><a href="#">MY</a></li>
        </ul>
    </nav>
</div>