<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hair shop</title>
    <link href="/css/bodyHeader.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/user/reservationList.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<div th:replace="~{fragment/bodyHeader :: bodyHeader}"></div>
<div th:replace="~{fragment/sidebar :: sidebar}"></div>
<div id="container">
    <h3>예약 내역</h3>
    <div id="reservationList">
        <table class="reservationTable">
            <tr th:each="reservation : ${reservationList}" th:id="${reservation.id}" class="list">
                <td class="imgTd">
                    <img th:src="${reservation.shop.shopImgs[0]}" class="shopImg">
                </td>
                <td class="nameTd">
                    <p th:text="${reservation.shop.name}" class="shopName"></p>
                    <p th:text="${reservation.designer.name}" class="designerName"></p>
                    <p th:text="${reservation.menu.name + ' - ' + #numbers.formatInteger(reservation.menu.price, 3, 'COMMA') + '원'}"></p>
                </td>
                <td class="timeTd">
                    <p th:text="${'[' + reservation.status + ']'}"></p>
                    <p th:text="${#temporals.format(reservation.dateTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></p>
                </td>
                <td class="btnTd">
                    <form th:action="${'/reservation/cancel'}" method="POST" class="formBtn" th:if="${reservation.status == '예약완료'}">
                        <input type="hidden" th:value="${reservation.id}" name="reservationId">
                        <input type="button" value="예약취소" class="cancelBtn" onclick="cancelForm(this)">
                    </form>
                    <form th:action="${'/review'}" method="GET" class="formBtn" th:if="${reservation.status == '시술완료' && reservation.reviewId == null}">
                        <input type="hidden" th:value="${reservation.id}" name="reservationId">
                        <input type="submit" value="리뷰작성" class="reviewBtn">
                    </form>
                    <form th:action="${'/reservation/detail'}" method="GET" class="formBtn">
                        <input type="hidden" th:value="${reservation.id}" name="reservationId">
                        <input type="submit" value="상세보기" class="detailBtn">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <!-- 이전 페이지로 이동하는 링크 -->
                        <a th:if="${offset > 0}" th:href="@{/reservation/list(offset=${offset - 10}, limit=${limit})}">&lt;</a>

                        <!-- 페이지 번호를 동적으로 생성 -->
                        <a th:each="pageNo : ${#numbers.sequence(0, count div limit)}"
                           th:href="@{/reservation/list(offset=${pageNo*limit}, limit=${limit})}"
                           th:text="${pageNo + 1}"
                           th:class="${offset div limit == pageNo ? 'active' : ''}">1</a>

                        <!-- 다음 페이지로 이동하는 링크 -->
                        <a th:if="${offset + limit < count}" th:href="@{/reservation/list(offset=${offset + 10}, limit=${limit})}">&gt;</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="/js/header.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/user/reservationList.js"></script>
</body>
</html>