#container {
    margin-left: 200px;
}

#designer {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    margin: 100px auto;
    text-align: center;
}

#designerSelect {
    width: 125px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    margin: 15px 0;
}

#searchDesigner {
    width: 60px;
    padding: 8px;
    font-size: 16px;
    color: white;
    border: 1px solid #797979;
    border-radius: 10px;
    background-color: #797979;
    cursor: pointer;
    margin: 15px 0;
}

#reservationList {
    width: 1000px;
    margin: 0 auto;
}

#reservationListTable {
    width: 1000px;
    text-align: center;
}

#reservationListTable tbody tr {
    height: 80px;
}

.cancelBtn {
    background-color: #575757;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}