#container {
    margin: 50px auto;
}

h3 {
    margin: 50px 0;
    text-align: center;
}

#reservationInfo, #userInfo, #paymentInfo{
    width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 1px solid #9a9a9a;
}

#reservationInfoTable, #userInfoTable{
    width: 500px;
    margin: 0 20px;
}

#paymentInfoTable {
    width: 750px;
    margin: 0 20px;
}

.price {
    text-align: right;
}

#totalPrice {
    font-size: 1.2em;
    font-weight: bold;
}