<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hairshop</title>
    <link href="/css/adminHeader.css" rel="stylesheet">
    <link href="/css/adminSidebar.css" rel="stylesheet">
    <link href="/css/adminHome.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragment/adminHeader :: adminHeader}"></div>
<div th:replace="~{fragment/adminSidebar :: adminSidebar}"></div>
<div id="container">admin</div>
</body>
</html>